<header>
   
<div class="main">
    <mat-toolbar >
        <span>My Application</span>
      </mat-toolbar>
        <div class="central">
            <div class="texto">
                <h1>Reactiva tu futuro  </h1>
                
                <h2>Entra ya ...</h2>
                <button mat-raised-button color="warn">Start</button>
        
            </div>
               <div class="travel">
                <img src="../../../assets/imagenes/travel.svg " width="90%" alt="">
               </div>
            <img  class="wape1" src="../../../assets/imagenes/vector1.svg" alt="">
            <img  class="wape2" src="../../../assets/imagenes/vector2.svg" alt="">
        </div>

</div>
</header>